.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;

    &__logo {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
        gap: 5px;
        text-decoration: none;
        color: #000;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #4154F1;
        border-radius: 4px;
        color: #4154F1;
        text-decoration: none;
        width: 134px;
        height: 55px;
        transition: .2s ease-in-out;

        &:hover {
            background: #4154F1;
            color: #fff;
        }
    }
}